#board-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.board-col {
    display: flex;
    flex-direction: column;
    width: 32rem;
    border: solid;
    margin: 1rem;
    padding: 1rem;
}
