#login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 3rem;
}

.login-input {
    width: 25%;
    height: 1.5rem;
    margin: 1rem;
}

#submit-login-button {
    margin: 1rem;
    width: 10rem;
    height: 3rem;
    background-color: #4CAF50;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
