.button-container {
    display: flex;
    align-content: initial;
}

.new-ticket-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 18px;
    width: 5.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    margin: 1rem 2px 4px 1.1rem;
}
